<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="car"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listUsuario">
      <ion-icon name="contacts"></ion-icon>
      <ion-badge color="danger">{{quantUsuario}}</ion-badge>
      <ion-label>Usuários</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listEntrega">
      <ion-icon name="gift"></ion-icon>
      <ion-badge color="danger">888</ion-badge>
      <ion-label>Entregas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
